
.mainArea {
  flex: 1;
  display: flex;
  align-items: stretch;
  align-content: stretch;
  position: relative;
  width: calc(100% - 300px);
  max-width: calc(100% - 300px);
  min-width: calc(100% - 300px);
}