
.layout {
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  display: flex;
}

.mainContainer {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: stretch;
  padding: 0;
  overflow: hidden;

  @media (max-width: $mantine-breakpoint-md) {
    flex-direction: column;
    overflow: auto;
  }
}