.header {
  padding-top: 8px;
  background-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-4), transparent);
}

.mainSection {
  padding-bottom: 8px;
}

.logoText {
  font-weight: 900;
  letter-spacing: -0.5px;
  filter: drop-shadow(1px 1px 1px light-dark(rgba(255, 255, 255, 0.95), rgba(0, 0, 0, 0.95)));
}