
.snippetsMain {
  flex: 1;
  display: flex;
  align-items: stretch;
  align-content: stretch;
  position: relative;
  width: 100%;
  max-width: 100%;
  min-width: 100%;

  @media (max-width: $mantine-breakpoint-md) {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}

.snippetsArea {
  flex: 1;
  width: 100%;
  padding-inline-start: var(--mantine-spacing-sm);
}

.rowCodePreview {
  flex: 1;
  padding-inline-end: 40px;
}

.previewCodeButton {
  position: absolute;
  top: 50%;
  right:6px;
  transform: translateY(-50%);
  z-index: 3;
}
.previewCodePopover {
  padding: 0;
  max-height: 160px;
  overflow: auto;
  box-shadow: var(--mantine-shadow-lg);
}