
.codeArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
}

.scroller {
  overflow: auto;
  flex: 1;
  width: 100%;
  background-color: var(--theme-background-color);
  position: relative;
}

.codeAreaEditor {
  height: 100%;
  padding: var(--mantine-spacing-sm);
}

.codePlaceholder {
  position: absolute;
  top: var(--mantine-spacing-md);
  left: var(--mantine-spacing-md);
  pointer-events: none;
  color: var(--theme-color);
  font-size: var(--theme-font-size);
  font-family: var(--theme-font);
  line-height: var(--theme-line-height);
  z-index: 4;
  opacity: 0.45;
}
